.vs
x64
x86
.vs/
x64/
x86/
.vs\
x64\
x86\
*.db
*.ipch
*.lastbuildstate
*.tlog
*.exe
*.recipe
*.ilk
*.log
*.obj
*.pdb
*.idb
.vs/arbitrary_precision/project-colors.json

xigoi_naf.h
xigoi_optims.h
xigoi.h
